# Banco de Dados PostgreSQL (Ex: Neon, Supabase, Vercel Postgres, Railway)
DATABASE_URL=postgresql://usuario:senha@host:5432/database?sslmode=require

# Credenciais SelectusPay (Gateway de Pagamento PIX)
SELECTUSPAY_API_KEY=mp_live_bf01acb00eafbe978258b80b104d07fb2ecfdb111978bc22
SELECTUSPAY_SECRET_KEY=bc99e2c1-b2de-4097-983c-80623ce55109

# Senha do Painel Administrativo (/admin)
ADMIN_PASSWORD=Predestinado8221$
